In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as stats

In [3]:
#to get the csv file from the internet and read it itno a dataframe
url='https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'
fuel_data = pd.read_csv(url, error_bad_lines=False)
fuel_data.describe(include='all')

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_2011_12_194_4_7,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [4]:
#testing out fillna
fuel_data.fillna(fuel_data.mode(), inplace=False)
fuel_data.describe(include = 'all')
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [5]:
fuel_data.groupby('fuel_unit')['fuel_unit'].count()
# filling out the missing values in fuel_unit with the mode
#replacing missing sting values with the most common appearance
fuel_data[['fuel_unit']] = fuel_data[['fuel_unit']].fillna(value = 'mcf')
#checking to see if there is no Nan value
fuel_data.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

In [6]:
fuel_data.groupby('fuel_cost_per_unit_burned')['fuel_cost_per_unit_burned'].count()

fuel_cost_per_unit_burned
-276.080       1
-174.670       1
-123.310       1
-119.040       1
-85.760        1
              ..
 65137.588     1
 69785.215     1
 80459.000     1
 83538.000     1
 139358.000    1
Name: fuel_cost_per_unit_burned, Length: 19416, dtype: int64

In [7]:
fuel_data.groupby('fuel_cost_per_unit_burned')

In [8]:
#checking to detect any duplication
fuel_data.duplicated().any()

False

In [9]:
#to check for skewness value
fuel_data.skew()

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [10]:
#to check for the kkurtosis values
fuel_data.kurt()

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

In [11]:
#to determine Which year has the highest average fuel cost per unit burned?
e =fuel_data.groupby('report_year')['fuel_cost_per_unit_burned']
e.mean()

report_year
1994    213.191996
1995    354.422555
1996     79.434995
1997    149.482132
1998    126.683519
1999    120.053605
2000    237.797111
2001    133.013010
2002    101.179365
2003    123.183919
2004    154.897398
2005    107.111221
2006    151.361249
2007    202.622082
2008    255.954415
2009    215.699318
2010    262.951203
2011    301.754519
2012    258.804138
2013    255.991023
2014    442.359068
2015    237.933197
2016    247.083959
2017    246.281796
2018    232.992036
Name: fuel_cost_per_unit_burned, dtype: float64

In [12]:
#to determine Which year has the highest average fuel cost per unit delivered?
d=fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered']
d.mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [13]:
#to determine the correlation btw fuel cost per unit burned and other features
fuel_data[fuel_data.columns[0:]].corr()['fuel_cost_per_unit_burned'][:]

utility_id_ferc1               -0.037863
report_year                     0.013599
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_unit_burned       1.000000
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
Name: fuel_cost_per_unit_burned, dtype: float64

In [14]:
f =fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned']
f.mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64